#terminal-output span {
    display: none;
}

#terminal-output span.received {
    position: relative;
    font-size: 0.8rem;
    line-height: 1.3rem;
    text-align: left;
    color: black;
    display: block;
}

.themeify.discorded #terminal-output span.received,
.themeify.discoranged #terminal-output span.received,
.themeify.cyborg #terminal-output span.received,
.themeify.nighttime #terminal-output span.received {
    color: lightskyblue;
}

#terminal-output span.sent {
    position: relative;
    font-size: 0.8rem;
    line-height: 1.3rem;
    text-align: right;
    color: green;
    display: block;
}

.themeify.discorded #terminal-output span.sent,
.themeify.discoranged #terminal-output span.sent,
.themeify.cyborg #terminal-output span.sent,
.themeify.nighttime #terminal-output span.sent {
    color: greenyellow;
}
